@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./sb-admin-2";

.factura-table{
  padding: 10px;
}
div{
  margin-bottom: 20px;

}

#e-table th {
  background-color: #42F305;
  color: white;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  position: relative;

}

th, td {
  text-align: left;
  padding: 8px;
}

#client-btn td{
  text-align: center;
  padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2}

#client-table th {
  background-color: #4e73df;
  color: white;
}
#exitosa-table th {
  background-color: #28a745;
  color: white;
}
#pendiente-table th {
  background-color: #ffc107;
  color: white;
}

#cancelada-table th{
  background-color: #dc3545;
  color: white;

}
.btnFactura{
  width: 100%;
  height: 100%;
}

$caso1: 580px;
$caso2: 1024px;


@media (max-width: #{$caso1}) {
  .ghost{
    display: none;
  }

}

@media (min-width: #{$caso1+1}) and (max-width: #{$caso2}) {
  .ghost{
    visibility: visible;
  }
}

@media (min-width: #{$caso2+1}) {
  .ghost{
    visibility: visible;
  }
}
