@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./sb-admin-2";

.factura-table{
  padding: 10px;
}
div{
  margin-bottom: 20px;

}

table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;

}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.btnFactura{
  width: 100%;
  height: 100%;

$caso1: 580px;
$caso2: 1024px;


@media (max-width: #{$caso1}) {
  .ghost{
    display: none;
  }

}

@media (min-width: #{$caso1+1}) and (max-width: #{$caso2}) {
  .ghost{
    visibility: visible;
  }
}

@media (min-width: #{$caso2+1}) {
  .ghost{
    visibility: visible;
  }
}
